@use "../../../../../../globals.scss" as globals;

:host {
  display: flex;
  align-items: center;

  column-gap: globals.pxToRem(20);

  img {
    width: globals.pxToRem(80);
    aspect-ratio: 1;
    border-radius: 50%;
  }

  div {
    &.chat_info {
      h4 {
        @include globals.fontSizing(19, 23);
        font-weight: normal;
      }

      p {
        @include globals.fontSizing(15, 19);
        font-weight: 100;
        margin-top: globals.pxToRem(5);
      }
    }

    &.chat_meta_info {
      p {
        @include globals.fontSizing(15, 19);
        font-weight: 100;
      }

      mat-icon {
        margin-top: globals.pxToRem(5);
      }
    }
  }
}
