<aside>
  <section>
    <img
      src="https://newprofilepic.photo-cdn.net//assets/images/article/profile.jpg?90af0c8"
      alt=""
    />
    <div>
      <h2>Jane Doe</h2>
      <p>#JaneDoe_123</p>
    </div>
    <mat-icon
      aria-hidden="false"
      aria-label="Notification icon"
      fontIcon="notifications"
    />
  </section>
  <section>
    <h3>Messages</h3>
    <form>
      <mat-icon
        aria-hidden="false"
        aria-label="Notification icon"
        fontIcon="search"
      />
      <input type="text" placeholder="Search" />
    </form>
    <wetalk-chats />
  </section>
</aside>
