<div class="info">
  <img
    src="https://newprofilepic.photo-cdn.net//assets/images/article/profile.jpg?90af0c8"
    alt=""
  />
  <h2>Meera</h2>
</div>
<div class="actions">
  <button mat-icon-button>
    <mat-icon aria-hidden="false" aria-label="Call icon" fontIcon="call" />
  </button>
  <button mat-icon-button>
    <mat-icon
      aria-hidden="false"
      aria-label="Video cam icon"
      fontIcon="videocam"
    />
  </button>
  <button mat-icon-button>
    <mat-icon aria-hidden="false" aria-label="More icon" fontIcon="more_vert" />
  </button>
</div>
